.containerTabela{
  border: 1px solid #DDDDDD;
  width: 95%;
  margin: 30px 0 30px;
  border-radius: 10px;
}
.tabelaSumario{
  border-collapse: collapse;
  border-radius: 10px;
  overflow:hidden;
  width: 100%;
}

.tabelaSumario th{
  width: 30%;
  background-color: #f0f0f0;
}
.tabelaSumario td, .tabelaSumario th{
  border-bottom:1px solid #DDDDDD;
  padding: 5px 20px 5px 20px;
}